.title-single{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 74px;
  color: #000000;
}

.blog-main-img{
  width: 1167px;
  height: 552px;
}

.text-content{
  position: relative;
  padding-left: 98px;

  padding-top: 68px;
  padding-bottom: 264px;
}

.text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 799px;
  color: #000000;
}
