.blog-item{
  max-width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover .blog-item__thumb{
    transform: scale(1.1);
  }
  &__info{
    width: 50%;
    padding: 26px 35px;
    position: relative;
  }
  &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
  }
  &__descr{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  &__img{
    width: 50%;
    overflow: hidden;
  }
  &__thumb{
    transition: .5s;
    width: 100%;
  }
}

.revers{
  flex-direction: row-reverse;
}

.title-page{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #01482B;
  text-align: center;

}

.blog-more{
  z-index: 3;
  margin-top: 116px;
  margin-bottom: 65px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  box-sizing: border-box;
  transition: .5s;
  &:hover{
    color: white;
    text-decoration: none;
    background: #00864C;
    transition: .5s;
    border: 1px solid transparent;
  }
}


.share{
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &--blog-item{
    position: absolute;
    left: 35px;
    bottom: 35px;
  }
  &--blog-page{
    position: absolute;
    right: 100px;
    top: 68px;
  }
  &__link{}
  &__img{}
}