@import "app/libs/normalize-css/normalize";

//@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min";

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

//@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min";
//@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min";
