@import "libs";
@import "font";
@import "vars";

*{
  margin: 0;
  padding: 0;
}

.section-wrapp{
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.section-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #01482B;
  padding-bottom: 41px;
}

.btn-outline{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #818181;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid #858181;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 15px 22px;
}

.btn-solid{
  display: block;
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #148640 0%, #02693D 100%);
  border-radius: 20px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 52px;
}

.green{
  color: #02693D;
  font-weight: 600;
}

.header_fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

@import "home/_top-line";
@import "home/_slider";
@import "home/_service";
@import "home/_about";
@import "home/_products";
@import "home/_review";
@import "home/_blog-section";
@import "home/_partners";
@import "home/_map";
@import "home/_footer";

@import "blog/_blog-page";
@import "blog/_blog-single";

.light-gray{
  color: #BFB7B7
}

.active{
  color: $light-green;
}

.dark{
  color: #08B96F;
}

.dark-bg{
  background: #303030;
}

.dark-card{
  border: 1px solid #858189;
  background-color: #303030;
}

.dark-text{
  color: #818181;
  transition: .5s;
  &:hover{
    color: white;
  }
}

.white{
  color: white !important;
}


.slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
}

.slick-dots li.slick-active button:before {
  background: #2AA74F;
  width: 8.4px;
  height: 8.4px;
  border-radius: 50%;
  margin-left: 25%;
  transform: translate(-25% ,-25%);
  margin-top: 25%;
  color: transparent;
}

.slick-dots li button:before {
  color: transparent;
}

.slick-dots{
  bottom: 10px;
}



@import "media";
