.partners{


}

.partners-slider{
  border-top: 1px solid #BDBFC6;
  padding-top: 45px;
  padding-bottom: 80px;
}
.partners-slider-item{
  height: 147px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  &:hover .partners-slider-img{
    filter: grayscale(0%) !important;
    opacity: 1;
  }
}

.partners-slider-img{
  opacity: .7;
  max-width: 90%;
  max-height: 100px;
  margin: auto;
  //margin-top: 50%;
  //transform: translateY(-50%);
  transition: .5s;
  filter: grayscale(100%);

}

