.slider{
  overflow: hidden;
  &__item{
    height: 567px;
    //height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
  }
  &__container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
  }
  &__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #034027;
    max-width: 585px;
    margin-left: 95px;
  }
}

